<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <context:component-scan base-package="cn.e3mall.search.service"/>

    <dubbo:application name="e3-search"/>
    <dubbo:registry protocol="zookeeper"
                    address="192.168.176.133:2181"/>
    <dubbo:protocol name="dubbo" port="20882"/>
    <dubbo:service interface="cn.e3mall.search.service.SearchItemService" ref="searchItemServiceImpl" timeout="60000"/>
    <dubbo:service interface="cn.e3mall.search.service.SearchService" ref="searchServiceImpl" timeout="60000"/>

</beans>